nvim/plugin
tags
.luarc.json

# The below need to be made more general
# perhaps through env variables
bin/.local/scripts/ucptest
bin/.local/scripts/tokenpls

.DS_Store

fish/.config/fish/fish_variables
